<footer class="sin-padding col-xs-12">
  <div class="col-xs-10 col-xs-offset-1">
    <div  class="col-xs-6">
        <h2 id="somos">Quienes somos</h2>
        <p class="text-justify" id="p-somos">
          La Asociación Colombiana de Glaucoma es una entidad sin ánimo de lucro de carácter nacional, adscrita a la Asociación Mundial de pacientes con Glaucoma.  Somos un grupo interdisciplinario de profesionales que unidos trabajamos para prevenir la ceguera por glaucoma en Colombia, a través de un diagnóstico oportuno y un tratamiento adecuado. <br><br>
          Nos hemos especializado en la prevención de la ceguera por glaucoma, contamos con la mejor tecnología, conocimiento y experiencia al servicio de la salud visual en Bogotá y en Colombia. <br><br>
          Nuestro objetivo principal es reducir el número de ciegos en Colombia, por lo cual tenemos definidas actividades de educación, información, fomento, promoción y prevención encaminadas al diagnóstico y tratamiento oportuno del Glaucoma. <br><br>
          La Asociación Colombiana de Glaucoma, se encuentra ubicada en Bogotá, Colombia. <br><br>
        </p>
      </div>
    <div  class="text-center col-xs-3 margen100">
        <h5 id="prevencion">Jornadas de <br> Prevención</h5>
      </div>
    <div class="col-xs-3 margen100">
        <img src="{{asset('hds-acg-layout/img/logo-gray.png')}}" alt="" id="logo-gray" class="img img-responsive">
      </div>
  </div>
  <p class="naranja text-center col-xs-12 sin-margen">
    <br>Asociación Colombiana de Glaucoma: Cr 14 No. 86a - 15 Bogotá - Colombia PBX: 6164585 Opción: 5. E-mail: auxiliar@glaucoma.org.co
    <br>La información médica aquí descrita no remplaza una valoración oftalmológica.
    <br>La reproducción de texto o imagénes incluidas en este sitio web esta estrictamente prohibida.
  </p>
</footer>
