#menu>li{
  display: block;
  width: 100%;
  background-color:
}
#post_title{
  margin-top: 50px;
  font-size: 22px;
}
#phone{
  padding: 30px;
}
.welcome>img{
  height: auto!important;
}
.welcome{
  height: 92vh!important;
}
#articulo img{
  height: auto!important;
  width: 100%!important;
}
.breadcrumb li{
  display: block;
}
.navbar-brand{
  color: white;
}
.verde h3{
  margin-top: 30px;
}
.sheet{
  height: auto!important;
}
#side-menu li{
  width: 100%;
}
#side-menu>li>a ,#side-menu>li>a:focus, #side-menu>li>a:hover {
    background: transparent;
    color: white;
}

#link-1{
  background-color: #91c139;
}
#link-2{
  background-color: #1c8ecd;
}
#link-3{
  background-color: #734d88;
}
#link-4{
  background-color: #d08400;
}

.list-a-1.active, .list-a-1.active:focus, .list-a-1.active:hover{
  background: #a6dba0;
  border: #a6dba0;
  color: white;
}
.list-a-2.active, .list-a-2.active:focus, .list-a-2.active:hover{
  background: #7cc2ff;
  border: #7cc2ff;
  color: white;
}
.list-a-3.active, .list-a-3.active:focus, .list-a-3.active:hover{
  background: #ac71cc;
  border: #ac71cc;
  color: white;
}
